<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Hiya</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="static/js/analytics.js"></script>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Hiya</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#why-hiya">Why</a>
                </li>
                <li>
                    <a class="page-scroll" href="#what-hiya">What</a>
                </li>
                <li>
                    <a class="page-scroll" href="#who-hiya">Who</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Get in touch</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to Hiya</div>
            <div class="intro-heading">Find The Best Hairdresser For You</div>
            <a href="#why-hiya" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="why-hiya">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
		<h2 class="section-heading">Why Hiya</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/about/01_badHaircut.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Have you ever felt like this </h4>
                                <h4 class="subheading">after a haircut?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">You just paid 120€, but the hair cut didn’t go how you planned. Finding a good hairdresser who can be trusted is obviously as important as preventing climate change and ensuring peace on earth.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
				<h4>Lorem ipsum</h4>
				<h4 class="subheading">Lorem ipsum</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
				<h4>Lorem ipsum</h4>
				<h4 class="subheading">Lorem ipsum</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
				<h4>Lorem ipsum</h4>
				<h4 class="subheading">Lorem ipsum</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
			    <h4>Lorem
				<br>Oipsum
				<br>ipsum!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="what-hiya">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Hiya</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="static/img/what-is/hiya_screenshots_RW.001.png" class="img-responsive" alt="Create your hairstyle profile">
                <h4 class="service-heading">Lorem ipsum</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/what-is/hiya_screenshots_RW.002.png" class="img-responsive" alt="Find the best hairdresser for you">
                <h4 class="service-heading">Lorem ipsum</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/what-is/hiya_screenshots_RW.003.png" class="img-responsive" alt="Take a pic and start collecting your hairstyles">
                <h4 class="service-heading">Lorem ipsum</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="who-hiya" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
		    <img src="static/img/team/mona.png" class="img-responsive img-circle" alt="Mona Taponen">
		    <h4>Mona Taponen</h4>
		    <p class="text-muted">Designer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/monataponen"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/mona.taponen"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/mona-taponen"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
		    <img src="static/img/team/dario.png" class="img-responsive img-circle" alt="Dario Nascimben">
		    <h4>Dario Nascimben</h4>
		    <p class="text-muted">Designer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/dario-nascimben"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
		    <img src="static/img/team/marco.png" class="img-responsive img-circle" alt="Marco Dallagiacoma">
		    <h4>Marco Dallagiacoma</h4>
		    <p class="text-muted">Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
		<div class="team-member">
		    <img src="static/img/team/jason.png" class="img-responsive img-circle" alt="Jixiang Zhu">
		    <h4>Jixiang Zhu</h4>
		    <p class="text-muted">Artificial Intelligence</p>
		    <ul class="list-inline social-buttons">
			<li><a href="#"><i class="fa fa-twitter"></i></a>
			</li>
			<li><a href="#"><i class="fa fa-facebook"></i></a>
			</li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a>
			</li>
		    </ul>
		</div>
	    </div>
	    <div class="col-sm-6">
		<div class="team-member">
		    <img src="static/img/team/omar.png" class="img-responsive img-circle" alt="Omar Flores">
		    <h4>Omar Flores</h4>
		    <p class="text-muted">Full Stack</p>
		    <ul class="list-inline social-buttons">
			<li><a href="#"><i class="fa fa-twitter"></i></a>
			</li>
			<li><a href="#"><i class="fa fa-facebook"></i></a>
			</li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
	</div>
	<div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- sponsors Aside -->
<aside class="clients">
    <div class="container">
	    <div class="row">
		    <div class="col-md-12 col-sm-12">
			    <div class="text-center">
			    	<h3 style="color: #CCC;">In collaboration with</h3>
			    </div>
		    </div>
	    </div>    
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a href="#">
                    <img src="static/img/logos/suomen-hius.png" class="img-responsive img-centered"  style="margin: 30px auto;" alt="Suomen Hiusalan yrittajat">
                </a>
            </div>
         
        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign up to be notified when we launch Hiya </h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="success"></div>
            </div>
            <div class="col-lg-12">
                <form name="registerEMail" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-block btn-xl">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Hiya 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.twitter.com/hiyafinland/"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/hiya_finland/"><i class="fa fa-facebook"></i></a>
                    </li>
<!--
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
-->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/classie.js"></script>
<script src="static/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="static/js/jqBootstrapValidation.js"></script>
<script src="static/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="static/js/agency.js"></script>

</body>

</html>
