<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Hiya</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="static/js/analytics.js"></script>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#hiya-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Hiya</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="hiya-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll navbar-highlighted" href="/mockup">Try the preview</a>
                </li>
                <li class="separator"></li>
                <li>
                    <a class="page-scroll" href="#why-hiya">Why</a>
                </li>
                <li>
                    <a class="page-scroll" href="#what-hiya">What</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Get in touch</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to Hiya</div>
            <div class="intro-heading">Find The Right Hairdresser For You</div>
            <a href="#why-hiya" class="page-scroll btn btn-xl">Tell Me More</a>
            <br/>
            <div class="intro-link"><a href="#hairpro" class="page-scroll">Are you a hair professional? »</a></div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="why-hiya">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Hiya?</h2>
                <h3 class="section-subheading text-muted">Because finding the right hairdresser is a tough job.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/story/01.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>EVER HAD A NIGHTMARE HAIRCUT?</h4>
                                <!--                                 <h4 class="subheading">lorem ipsum</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">...and then paid 100€ for the privilege? Hiya is designed to make it easier for you to find and book the right stylist, so you don’t have to keep explaining over and over the cut you want.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/story/02.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>FINDING “THE ONE”</h4>
                                <!-- 				<h4 class="subheading">Lorem ipsum</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A regular hairdresser will be someone who’ll understand your hair and style, every time. But this is something many of us are missing out on. We think that if you want to look your best, it makes sense to know about the person with the scissors!
Googling reviews by strangers just isn’t up to the job. Even if you choose the salon, you still don’t really know anything about the stylist. That’s where Hiya comes in. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/story/03.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>SETTING THE DATE</h4>
                                <!-- 				<h4 class="subheading">Lorem ipsum</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This is where you make your commitment. You may not know what you want, or who exactly you’re trusting to do it, but you do know when. Well, 1 out of 3 isn’t so bad...is it?
Of course it is! We think it’s better to know everything you need to, so you can make the right choice.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/story/04.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>ON THE DAY</h4>
                                <!-- 				<h4 class="subheading">Lorem ipsum</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">You’ve got this far - it’s make or break. You sit in the chair, and the next few minutes talking to your stylist can define the next few months for you. Will you walk out happy, or wearing your hat?
The consultation is crucial - but it’s sometimes very hard to explain what you want, or you might not even know. Hiya gives you a place to find inspiration and store your own photos so you can find and explain what you want, fast! </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/story/05.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>HAPPILY EVER AFTER?</h4>
                                <!-- 				<h4 class="subheading">Lorem ipsum</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">If you love your cut, then it’s a match made in heaven! But if not, you have to start the process all over again. Wouldn’t it be great if there was a service to help you with that…?</p>
                            </div>
                        </div>
                    </li>
                                    </ul>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="what-hiya">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Hiya</h2>
                <h3 class="section-subheading text-muted">Hiya takes the hassle out of haircuts! We’re a matchmaking service to find your perfect hairdresser.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="static/img/what-is/hiyaUI.018_iphone6plus_gold_portrait.png" class="img-responsive"
                     alt="Create your hairstyle profile">
                <h4 class="service-heading">Create your Style & Hair Profile</h4>
                <p class="text-muted">You know your hair and style better than anyone! So, Hiya let’s you create your own personal style & hair profile to help the hairdresser achieve the results that YOU want.</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/what-is/hiyaUI.009_iphone6plus_gold_portrait.png" class="img-responsive"
                     alt="Find the best hairdresser for you">
                <h4 class="service-heading">Simply Search, Book & Pay!</h4>
                <p class="text-muted">Hiya brings you the information you need to one place. You can search easily with keywords such as location, price, specialisation and more. Better still, we let you book and pay through our service, so your experience is about your hair, not hassle!</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/what-is/hiyaUI.004_iphone6plus_gold_portrait.png" class="img-responsive"
                     alt="Take a pic and start collecting your hairstyles">
                <h4 class="service-heading">Collect your Haircut History</h4>
                <p class="text-muted">We’re a community who care about hair. Like your cut? Then take a picture! You can keep these all in the same place with our service, so next time you need a cut you can show what you want. That’s not all though. With Hiya, you can get inspiration from other user’s photos, collect references, check out a hairdresser’s portfolio, and give ratings too!</p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="text-center ">
            <a href="/mockup" class="page-scroll btn btn-xl">Try the preview</a>
        </div>
    </div>
</section>

<!-- hairpro Section -->
<section id="hairpro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hiya for Hair Professionals</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                               <h4 class="service-heading">Professional profile</h4>
                <p class="text-muted">With Hiya you can create your personal professional profile, and give a potential customer a full overview of your skills and expertise.
You can add everything - description, services, prices, social media accounts, portfolios, location, contacts and more! </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Showcase your work</h4>
                <p class="text-muted">Your work is your best advert! Add the finest hairstyles you have crafted onto your profile. Let potential customers see what you can do, and be inspired by your flair. </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Know your clients </h4>
                <p class="text-muted">Not only do you get a profile, but so do your customers. You will be able to see their hair history, preferences and interests to better meet their needs and give a more personalised service. </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                               <h4 class="service-heading">Expand your clientele </h4>
                <p class="text-muted">Hiya brings the customers to you because it's a community that's all about hair! A good online presence is a great way to promote yourself and expand your customer base. </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Connect to your customer </h4>
                <p class="text-muted">Hiya also helps you to keep customers connected to your business, so they're up to date with all your latest info and promotions. They can follow you on the app, so it's easy to keep your loyal customers even if you move to different salons. </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Grow your portfolio </h4>
                <p class="text-muted">When you do a great job, you get a happy customer who shares their new look. That can be added to your portfolio, so they do the advertising for you! </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                               <h4 class="service-heading">Let them find you </h4>
                <p class="text-muted">All the information you put on your profile will be visible and searchable by the users. Your business can now be visible for the great skills you offer, and for the great feedback you've received from your customers! </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Easy to use </h4>
                <p class="text-muted">Hiya is an easy-to-use mobile app. It only takes minutes to be added to it's thriving community, and growing network of potential customers. </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Do what you love </h4>
                <p class="text-muted">Unique styles need a unique hairstylist! Hiya makes it quick and easy to reach customers, so you can concentrate on the hair not the hassle.</p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="text-center ">
            <a href="https://docs.google.com/forms/d/14ltN8uD60D34_oaulTPG0c9ywxhuuSHyOi27FstTH8k" class="page-scroll btn btn-xl">Leave your contacts</a>
        </div>
    </div>
</section>



<!-- sponsors Aside -->

<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <h3 style="color: #CCC;">In collaboration with</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a href="#">
                    <img src="static/img/logos/suomen-hius.png" class="img-responsive img-centered"
                         style="margin: 30px auto;" alt="Suomen Hiusalan yrittajat">
                </a>
            </div>

        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign up to be notified when we launch Hiya </h2>
                <!--                 <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="success"></div>
            </div>
            <div class="col-lg-12">
                <form name="registerEMail" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-block btn-xl">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Hiya 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.twitter.com/hiya_finland/"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/hiyafinland/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/hiyafinland/"><i class="fa fa-instagram"></i></a>
                    </li>
                    <!--
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                    -->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <!--                     <li><a href="#">Privacy Policy</a> -->
                    </li>
                    <!--                     <li><a href="#">Terms of Use</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/classie.js"></script>
<script src="static/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="static/js/jqBootstrapValidation.js"></script>
<script src="static/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="static/js/agency.js"></script>

</body>

</html>
